:root {
    --black: #000000;
    --white: #FFFFFF;
    --light-gray: #D9D9D9;
    --dark-gray: #7E7E7E;
    --green: #20DC49;
}

body {
    background-color: var(--light-gray);
}

.nav-main {
    display: flex;
    background-image: url(./img/picture-of-project-20.jpg);
    background-repeat: no-repeat;
    margin: -8px; 
    width: 1440px;
    height: 900px;  
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1100px;
    margin-top: -800px;
}

.logo-icon {
    display: flex;
    align-items: center;
    gap: 11.27px;
    margin-left: 40px;
}

.logo-text {
    font-size: 16.93px;
}

.sign-up {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-question {
    font-size: 14px;
}

.nav-sign {
    font-size: 14px;
    color: var(--green);
}

.body-content {
    display: flex;
}

.royal-btn {
    background-color: var(--green);
    border: none;
    display: flex;
    align-items: center;
    gap: 13px;
    border-radius: 48px;
    width: 246px;
    height: 60px;
    margin-top: -560px;
    margin-left: 70px;
}

.text-of-btn {
    font-size: 15.29px;
}

.access-to-internet {
    background-color: rgba(52, 52, 52, 0.5);
    
    border: none;
    border-radius: 30px;
    width: 246px;
    height: 158.04px;
    margin-top: 20px;
    margin-left: 70px;
}

.test-div {
    padding-top: 20px;
    padding-left: 20px;
} 

.telescope-icon {
    width: 47.71px;
    height: 43.24px;
    background-color: var(--black);
    padding-left: 8px;
    padding-top: 8px; 
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 7px;
}

.svg-item {
    padding-top: 5px;
    padding-left: 5px;
}

.text {
    width: 175px;
    font-size: 15px;
    color: var(--white);
}

.body-right-content {
    margin-top: -780px;
    margin-left: 620px;
}

.start-text {
    font-size: 24px;
}

.get-start-text {
    margin-top: 10px;
    font-size: 15.04px;
    color: var(--dark-gray);
    text-align: center;
}

.app-btns {
    display: flex;
    text-align: center;
    gap: 15px;
    margin-top: 40px;
}

.google-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 12px;
    background-color: var(--white);
    border-color: var(--green);
    width: 126px;
    height: 44px;
    border-width: 2px;
    border-radius: 5px;
}

.google-text {
    font-size: 12px;
}

.facebook-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 12px;
    background-color: var(--white);
    border-color: var(--dark-gray);
    width: 126px;
    height: 44px;
    border-width: 2px;
    border-radius: 5px;
}

.facebook-text {
    font-size: 12px;
}


.text-with-lines {
    text-align: center;
    margin-top: 15px;
}


.continue-text::before {
    content: "";
    display: inline-block;
    width: 130px;
    height: 1px;
    background-color: var(--dark-gray);
    margin-right: 10px;
  }
  
  .continue-text::after {
    content: "";
    display: inline-block;
    width: 130px;
    height: 1px;
    background-color: var(--dark-gray);
    margin-right: 10px;
  }
 


  }

